# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/
.ipython/
.jupyter/

# Large / local artifacts
00.data/00.wikidata/latest-all.json.gz
00.data/00.wikidata/00.wikidata_extract/_tmp/
00.data/00.wikidata/00.wikidata_extract/*.parquet
01.models/**

# ===================================
# General ignores
# ===================================
*.tmp
*.log
.DS_Store
__pycache__/
*.pyc
.env
Thumbs.db
.vscode/
.idea/
.venv/
venv/
